<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:summer="http://java.sun.com/jsf/composite/summer" xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Seleção de Abrangência</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"/>


    <!-- Bootstrap 3.3.5 -->
    <h:outputStylesheet name="third/bootstrap/css/bootstrap.min.css"/>
    <h:outputStylesheet name="third/bootstrap/css/jasny-bootstrap.css"/>

    <!-- Font Awesome -->
    <h:outputStylesheet name="third/font-awesome-4.7.0/css/font-awesome.css"/>

    <!-- Ionicons -->
    <h:outputStylesheet name="third/dist/css/ionicons.min.css"/>

    <!-- jquery confirm -->
    <h:outputStylesheet name="third/plugins/jquery-confirm/jquery-confirm.min.css"/>

    <!-- Theme style -->
    <h:outputStylesheet name="third/dist/css/AdminLTE.min.css"/>
    <h:outputStylesheet name="third/dist/css/skins/skin-#{utilMB.colorTemplate}.css"/>

    <h:outputStylesheet name="css/summer-login-#{utilMB.colorTemplate}.css"/>

    <link rel="shortcut icon" type="image/x-icon"
          href="#{resource[utilMB.readAttributeOnSubjectCustomValue('PROJECT_FAVICON')]}"/>

</h:head>
<h:body styleClass="hold-transition login-page">

    <h:outputText value="#{utilMB.autoCloseAlertMessage}" id="OUTPUTTEXT_AUTOCLOSEALERTMESSAGE_SUMMER"
                  style="display: none"/>

    <div class="login-box">
        <summer:messages/>
        <div class="login-box-body">
            <p class="login-box-msg">Seleção de Abrangência</p>
            <h:form enctype="multipart/form-data" id="frmBodySelectAbrangencia">
                <div class="form-group has-feedback">
                    <summer:selectOneMenu sLabel=""
                                          useAjax="true"
                                          value="#{sbaMB.unidade}"
                                          sDisabled="#{sbaMB.unidadesAsStr.size()==1}">
                        <f:selectItem value="#{null}" itemLabel="Selecione uma unidade"/>
                        <f:selectItems value="#{sbaMB.unidadesAsStr}" var="und"
                                       itemLabelEscaped="false"
                                       itemLabel="#{und}" itemValue="#{und}"/>
                    </summer:selectOneMenu>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <hr/>
                    <div style="padding: 0px 15px;">
                        <div style="float: left">
                            <h:commandLink action="#{utilMB.doLogout}" id="btnSairAbrangencia"
                                           styleClass="btn btn-labeled btn-default">
                            <span class="btn-label">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                            </span>
                                Sair
                            </h:commandLink>
                        </div>
                        <div style="float: right">
                            <h:commandLink action="#{sbaMB.selecionarUnidade}" id="btnSelecionarAbrangencia"
                                           styleClass="btn btn-labeled btn-default">
                                Confirmar
                                <span class="btn-label btn-label-right">
                                <i class="fa fa-building" aria-hidden="true"></i>
                            </span>
                            </h:commandLink>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
        <!-- /.login-box-body -->
    </div>

    <!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <h:outputScript name="third/plugins/jQuery/jQuery-2.1.4.min.js"/>

    <!-- Bootstrap 3.3.5 -->
    <h:outputScript name="third/bootstrap/js/bootstrap.min.js"/>

    <h:outputScript name="third/dist/js/jquery.mask.min.js"/>
    <h:outputScript library="javax.faces" name="jsf.js"/>

    <!-- jquery confirm -->
    <h:outputScript name="third/plugins/jquery-confirm/jquery-confirm.min.js"/>

    <h:outputScript name="js/summer.js"/>
    <h:outputScript name="js/summer-login.js"/>
</h:body>
</html>
