<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head/>
<h:body>
    <ui:composition>
        <h:panelGroup>
            <b>Abrangência Selecionada:</b><br/> <h:outputText value="#{utilSbaMB.sbaSessionParam.unidade}"
                                                               escape="false"/>
            <br/><br/>
            <h:form rendered="#{sbaMB.unidadesAsStr.size()>1}">
                <h:commandLink action="#{utilSbaMB.changeAbrangencia}" title="Trocar abrangência">
                    <i class="fa fa-retweet" aria-hidden="true"/> <i>trocar abrangências...</i>
                </h:commandLink>
            </h:form>
        </h:panelGroup>
    </ui:composition>
</h:body>
</html>